html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 250px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    color: #7f8c8d;
    background: #ecf0f1;
}
.post {
    width: 275x;
    padding-left: 75px;
    position:relative;
}
.post .post-title {
    color: #2980b9;
    font-size: 20px;
}
.post-date {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 55px;
    text-align:center;
    width:55px;
    height: 55px;
    background-color: white; 
    font-weight:bold;
    border-bottom: 5px solid #bdc3c7;
    font-size: 15px;
}
.post-author {
    margin-top: 5px;
}
.post-author a{
    text-decoration: none;    
    color: #2980b9;
}
.post-stats {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
.post-stats a{
    color: #2980b9;
    text-decoration:none;
}
.post-stats .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url("/assets/course14/post-challenge.png");
    background-repeat: no-repeat;
}
.icon-tags {
    background: 0 0;
}

.icon-comments {
    background: -20px 0;
}

.post-text {
    background-color: white;
    border-bottom: 5px solid #bdc3c7;
    padding: 10px 15px;
    margin-top: 20px;
}
.post-type {
    position: absolute;
    top: 70px;
    left: 0;
    width: 55px;
    height: 55px;
    background: #7f8c8d url("/assets/course14/quotes.png") no-repeat 50% 50%;
    border-bottom: 5px solid #bdc3c7;
/*
Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
Ардеса картинок:
/assets/course14/quotes.png
/assets/course14/post-challenge.png
Картинка "кавычки" выровнена по центру
*/
